.content
  .header-right
    %h2.header-right-group{"data-id": @group.id}
      = @group.name
    .edit-button
      .edit-text
        = link_to "Edit", edit_group_path(@group)
    .messages
      .contents-right
        = render @messages
      = form_for [@group, @message], html: {class: 'contents-bottom'} do |f|
        = f.text_field :content, class: 'text-form',placeholder: 'type a message'
        = f.label :image, class: 'image-icon' do
          = fa_icon 'picture-o'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
